@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form class="form-group" action="Cadastrar/salvar" method="get">
            <label>Id</label>
            <input type="text" id="Id" name="Id"/>
            <label>Nome</label>
            <input type="text" id="Nome" name="Nome"/>
            <label>Modelo</label>
            <input type="text" id="Modelo" name="Modelo" />
            <label>Ano</label>
            <input type="text" id="Fabricacao" name="Fabricacao" />
            <label>Fabricação</label>
            <input type="text" id="Fabricacao" name="Fabricacao" />
            <label>Cor</label>
            <input type="text" id="Cor" name="Cor" />
            <label>Combustivel</label>
            <input type="text" id="Combustivel" name="Combustivel" />
            <label>Automatico</label>
            <input type="text" id="Automatico"  name="Automatico"/>
            <label>Valor</label>
            <input type="text" id="Valor" name="Valor" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
